body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/*------GLOBAL STYLES-----*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.main {    
    flex-grow: 1; 
}

/*----HEAD----*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;     
}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*------HEADER-----*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-link-logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
    padding: 16px 0;
}

.span-logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-nav-list,
.header-contacts {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-link-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav { 
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 40px;
        }

    .header-contacts {
        font-style: normal;
        display: block;
    }

    .header-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }
    
    .header-link-studio {    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        text-decoration: none;
        padding: 24px 0;
        display: block;
        position: relative;
    }
    
    .header-link-studio::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link-studio:hover,
    .header-link-studio:active,
    .header-link-studio:focus {
        color: #404bbf;
    }
    
    .header-contacts {
        font-style: normal;
        margin-left: auto;
    }  
    
    .header-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-link-logo {
        margin-right: 76px;
    }

    .header-contacts-list {
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        gap: 40px;
    }

   .contacts-link {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       display: block;
   }
}

/*----mobile-menu----*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
     box-shadow:
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mobile-menu-nav {
    margin-bottom: auto;   
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link-studio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: none;
}

.mobile-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.mobile-menu-addr {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
    color: #4d5ae5;
}

.social-link-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social-link { 
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #4d5ae5;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*-----hero-----*/

.solutions {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px;
    max-width: 216px;
    align-items: center;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutions-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    border: none;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.solutions-button:hover,
.solutions-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .solutions {
        padding: 112px 0;
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 36px;
        min-width: 496px;
    }
}    

@media screen and (min-width: 1158px) {
    .solutions {
        padding: 188px 0;
    }

    .solutions-title {
    margin: 0 auto 48px;
    }
}

   /*----FEATURES-----*/

   .section {
       padding: 96px 0;
   }

   .features-list {
       list-style-type: none;
       display: flex;
       flex-wrap: wrap;
       gap: 72px;
   }

   .icon-features-list {
    display: none;
   }

   .features-item {
       width: 100%;
   }

   .features-subtitle {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       color: #2e2f42;
       text-align: center;
       margin-bottom: 8px;
   }

   .features-text {

       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       text-align: left;
   }

   @media screen and (min-width: 768px) {

    .features-subtitle {
        text-align: left;
    }

    .features-list {
        gap: 72px 24px;
    }
   
    .features-item {
    width: calc((100% - 24px) / 2);
    }
}

   @media screen and (min-width: 1158px) {
    .section {
            padding: 120px 0;
        }
   .icon-features-list {
       display: flex;
       border: 1px solid #8e8f99;
       ;
       border-radius: 4px;
       width: 264px;
       height: 112px;
       background-color: #f4f4fd;
       margin-bottom: 8px;
   }

   .icon-features {
       margin: 24px 100px;
   }

    .features-item {
        width: calc((100% - 72px) / 4);
    }
    .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
   }

   .features-text {
    font-weight: 400;
   }
}

/*----TEAM-----*/

.team {
    background-color: #f4f4fd;
} 

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    list-style-type: none;
}

.team-item {
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-img {
    display: block;
    flex-shrink: 0;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.container-team {
    padding: 32px 16px;
}

.team-subtitle {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width:768px) {
    .team-list {
        padding-left: 100px;
        padding-right: 100px;
        gap: 64px 24px;
    }
    .team-item {
      width: calc((100% - 24px) / 2);
    }   
}

@media screen and (min-width:1158px) {
    .team-list {
        padding-left: 0;
        padding-right: 0;
    }

    .team-item {
      width: calc((100% - 72px) / 4);
    }
}
