
/*----FOOTER-----*/

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer .container { 
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-brand {
    margin-right: 120px;
    max-width: 264px;
}

.footer-link {
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;            
}


.footer-text {
    font-family: "Roboto",
    sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.social-text {
    font-family: "Roboto",
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-link-list {
   display: flex;
   align-items: center;
   gap: 16px;
}

.footer-social {
    max-width: 208px;
    margin-right: 80px;

}


.social-link-item {
    display: flex;
    
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31D0AA;
}

.icon-link {
    fill: #f4f4fd;
}

.footer-subscribe {
    width: 453px;
    margin-left: auto;
}


.footer-form {
    display: flex;
    align-items: center;
    justify-content: start;
}
 
.footer-form-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
padding-left: 16px;
background-color: transparent;
color: #fff;
box-sizing: border-box;
cursor: text;
outline: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover, .footer-form-input:focus-visible {
    border-color: #31D0AA;
}


.footer-form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    outline: none;
    letter-spacing: 0.04em;
    color: #fff;
}


.footer-btn {
    margin-left: 24px;
}

.footer-button {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 16px;
border-radius: 4px;
padding: 0 24px;
width: auto;
height: 40px;
border: none;
text-align: center;
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, .footer-button:focus {
    background-color: #31D0AA;
}

.icon-footer {    
    fill: #fff;
}

/*----modal ---*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(0.9);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    box-shadow:
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus-visible {
    background-color: #404bbf;
}
.modal-close:hover .modal-icon-close,
.modal-close:focus-visible .modal-icon-close {
    fill: #fff;    
}

.modal-field {
    padding: 0;
    margin-bottom: 8px;
}


.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}


.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon {
     fill: #4d5ae5;
}

.input-wrapper:hover .modal-input,
.input-wrapper:focus-within .modal-input {
    border-color: #4d5ae5;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-input-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment:focus,
.modal-input-comment:focus-visible {
    border-color: #4d5ae5;
}


.modal-input-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-submit {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}  

.input-wrapper {
    position: relative;
}

.form-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-field {
    margin-bottom: 24px;
}

.label-policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.check-icon {
    fill: #f4f4fd;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox-label .label-policy {
    background-color: #404bbf;
    border-color: #404bbf;
}

.modal-checkbox:checked+.checkbox-label .check-icon {
    opacity: 1;
    visibility: visible;
}


.policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}